<label class="lead">Which Language you will use to teach?</label><br>
        <div class="form-group">
        <label class="control-label" for="language">Select Language:</label> 
        <select ng-options="x.language for x in vm.lang" class="form-control" ng-model="vm.selected_language"></select>
        </div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="courses.create.form4" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>


