<label class="lead">What media do you plan to use ?</label><br>
 <div class="form-group">
          <label class="control-label" for="experience-level">Select Media type:</label> 
          <select ng-options="x.media_type for x in vm.mediaType" class="form-control" ng-model="vm.selected_media_type"></select>
</div>
<label class="lead">Which best describes the skills you have creating digital/electronic content ?</label><br>
 <div class="form-group">
          <label class="control-label" for="experience-level">Select Media Skills:</label> 
          <select ng-options="x.media_skills for x in vm.mediaSkills" class="form-control" ng-model="vm.selected_media_skills"></select>
</div>

<div class="form-group row">
   <div class="col-xs-6 col-xs-offset-3">
    <button type="submit" class="btn btn-block btn-info">{{vm.course._id ? 'Update' : 'Create'}} <span class="glyphicon glyphicon-hand-right"></span>
    </button>
</div>     
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
</div>