<label class="lead">Which level best describes your Audience ?</label><br>
    <div class="form-group">
    <label class="control-label" for="Education_level">Select Education Level:</label> 
    <select ng-options="x.education_level for x in vm.educationLevel" class="form-control" ng-model="vm.selected_education_level"></select>
    </div>
    <div class="form-group">
    <label class="control-label" for="difficulty_level">Select Difficulty Level:</label> 
    <select ng-options="x.difficulty_level for x in vm.difficultyLevel" class="form-control" ng-model="vm.selected_difficulty_level"></select>
    </div>

    <div class="form-group">
    <label class="control-label" for="accreditation">Accreditation</label>
    <input name="accreditation" type="text" ng-model="vm.course.accreditation" id="accreditation" class="form-control" placeholder="Accreditation">
    </div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="courses.create.form5" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>

