<label class="lead">Which category best describes your class ?</label><br>
<div class="form-group">
        <label class="control-label" for="Category">Select Category:</label> 
        <select ng-options="item as item.name for item in vm.category track by item.name" class="form-control" ng-model="vm.selected_category"></select>
        </div>
             <div class="form-group">
        <label class="control-label" for="Category">Select Sub-Category:</label> 
        <select  class="form-control" ng-model="vm.selected_sub_category">
          <option ng-repeat="subCategory in vm.selected_category.sub_category" value="{{subCategory.name}}">{{subCategory.name}}</option>
        </select>
        </div>
        
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="courses.create.form3" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>