
    <div class="form-group" show-errors>
          <label class="control-label" for="name">Class Name</label>
          <input name="name" type="text" ng-model="vm.course.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.courseForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Course name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Class Description</label>
          <input name="description" type="text" ng-model="vm.course.description" id="description" class="form-control" placeholder="description" required>
        </div>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="courses.create.form2" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>