<div class="row">
<div class="col-sm-10 col-sm-offset-1">

  <div id="form-container">
  
      <div class="page-header text-center">
      <h2 class="text-info"><b> Welcome </b></h2> 
      <h3 class="text-warning">let’s dive in! Help us get you started </h3><br>
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref="courses.create.form1"><span>1</span> Class Details</a>
              <a ui-sref-active="active" ui-sref="courses.create.form2"><span>2</span> Category</a>
              <a ui-sref-active="active" ui-sref="courses.create.form3"><span>3</span> Language</a>
              <a ui-sref-active="active" ui-sref="courses.create.form4"><span>4</span> Education</a>
              <a ui-sref-active="active" ui-sref="courses.create.form5"><span>5</span> Experience</a>
              <a ui-sref-active="active" ui-sref="courses.create.form6"><span>6</span> Media</a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" name="vm.form.courseForm" ng-submit="vm.save(vm.form.courseForm.$valid)" novalidate>
      <fieldset>
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </fieldset>
      </form>
  
  </div>

</div>
</div>