<label class="lead">How much experience do you have ?</label><br>
 <div class="form-group">
          <label class="control-label" for="experience-level">Select Experience:</label> 
          <select ng-options="x.experience_level for x in vm.experienceLevel" class="form-control" ng-model="vm.selected_experience_level"></select>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="courses.create.form6" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>