<div class="row">
<div class="col-md-10 col-md-offset-2" >
    <form name="vm.form.courseForm" class="form-horizontal" ng-submit="vm.save(vm.form.courseForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="objective">What is your Class's Objective: </label><br><hr>
          <textarea name="objective" type="text" ng-model="vm.course.objective" id="objective" class="form-control" cols="30" rows="10" required></textarea>
          <div ng-messages="vm.form.courseForm.objective.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Course Objective is required.</p>
          </div>
        </div>
        <button class="btn btn-success" type="submit">Update</button>
        </fieldset>
        </form>
        </div>
</div>        