<section>
 
    <div>
   <div class="col-md-4 well well-sm" style="background: linear-gradient(#900000, #000000, #900000) ;  color: white; border-radius: 5em">
          <h4 class="text-center">Class Name :</h4>
          <p class=" text-center" ng-bind="vm.course.name"></p>  
    </div> 
  <div class="col-md-4 well well-sm" style=" background: linear-gradient(#900000, #000000, #900000) ;  color: white; border-radius: 5em">
        <h4 class="text-center">Class Description :</h4>
        <p class=" text-center"  ng-bind="vm.course.description"></p> 
  </div> 

  <div class="col-md-4 well well-sm" style="background: linear-gradient(#900000, #000000, #900000) ;  color: white; border-radius: 5em">
        <h4 class="text-center">Class Owner :</h4>
        <p class=" text-center"  >{{vm.course.owner.displayName | uppercase}}</p>
  </div> 
  </div>
   <div class="page-header">
    <h3 class="text-center text-info">Class Settings</h3>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="courseSetting.objective">Course Objectives</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="courseSetting.lesson">Lesson Plan</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="courseSetting.content">Course Content</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="courseSetting.homepage">Course Homepage</a>
        </li>
         <li ui-sref-active="active">
          <a ui-sref="courseSetting.setting">Course Setting</a>
        </li>
         <li ui-sref-active="active">
          <a ui-sref="courseSetting.preview">Course Preview</a>
        </li>
         <li ui-sref-active="active">
          <a ui-sref="courseSetting.help">Help</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-12 col-md-8 Settings-view">
      <div ui-view></div>
    </div>
  </div>

</section>