<section>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-info"><strong>About Us</strong></h1>
    </div>
  </div>
<hr>

<div class="container">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><strong>What We Do ?</strong></h3>
  </div>
  <div class="panel-body text-center">
    We are here To provide
and facilitate access to cross disciplinary and world class learning content
globally.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><strong>Who We Are ?</strong></h3>
  </div>
  <div class="panel-body text-center">
          A bunch of guys and gals with a deep passion for
        learning
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><strong>Why Us ?</strong></h3>
  </div>
  <div class="panel-body text-center">
    If not us then who, if not now then when.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><strong>Our Milestone </strong></h3>
  </div>
  <div class="panel-body text-center">
    Est. Summer ‘17
  </div>
</div>


</div>


</section>