<section class="white-bg theme-section">
<!--   <div class="page-head head-border">
    <h3>Settings</h3>
  </div> -->
  <div class="row">
   <div class="">
    <div class="col-sm-12 col-md-12 col-md-offset-1">
     <div class="setting-nav">
      <ul class="nav nav-pills ">
        <li ui-sref-active="active">
          <a ui-sref="about.aboutus">About Us</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.team">Team</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.partners">Partners</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.volunteer">Volunteers</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.donate">Donate Us</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.blog">Blog</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.reviews">Reviews</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.help">Help</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about.contact">Contact Us</a>
        </li>
      </ul>
     </div>
    </div>
    <div class="col-sm-12 col-md-12 about-view" >
      <div ui-view></div>
    </div>
   </div>
  </div>
</section>