<div class="container" id="contact-form">
        <div class="image"></div>
        <div class="frm">
            <h1>Contact Us</h1>
            <form>
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your Name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="pwd">Comment:</label>
                    <textarea class="form-control" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>