        <h3 class="text-center text-info">Donate Us !!</h3><hr>    
    <div class="pricing-table-horizontal">

        <div class="donate">

            <div class="donate-left-information">

                <h2>Basic Plan</h2>

                <p>Perfect for individuals and freelancers. You get plenty of space to host all your websites and enough traffic to power your business.</p>

                <p class="donate-price">$9 / month</p>
            </div>

            <div class="donate-right-information">

                <p>
                    <span>Space</span>
                    <strong>10 GB</strong>
                </p>

                <p>
                    <span>Traffic</span>
                    <strong>1 TB</strong>
                </p>

                <p>
                    <span>Users</span>
                    <strong>1</strong>
                </p>

                <div class="donate-order">
                    <a href="#" class="order-a-donate">Order Now</a>
                </div>

            </div>

        </div>

        <div class="donate featured">

            <span class="popular-badge">Popular</span>

            <div class="donate-left-information">
                <h2>Pro Plan</h2>
                <p>Perfect for small teams and companies. Your agency can host a large number of client websites, and you can create individual user accounts.</p>
                <p class="donate-price">$15 / month</p>
            </div>

            <div class="donate-right-information">

                <p>
                    <span>Space</span>
                    <strong>20 GB</strong>
                </p>

                <p>
                    <span>Traffic</span>
                    <strong>2 TB</strong>
                </p>

                <p>
                    <span>Users</span>
                    <strong>10</strong>
                </p>

                <div class="donate-order">
                    <a href="#" class="order-a-donate">Order Now</a>
                </div>

            </div>

        </div>

        <div class="donate">

            <div class="donate-left-information">
                <h2>Enterprise Plan</h2>
                <p>Perfect for large companies and enterprises. You can meet the growing needs of your business and create accounts for all your employees.</p>
                <p class="donate-price">$50 / month</p>
            </div>

            <div class="donate-right-information">

                <p>
                    <span>Space</span>
                    <strong>100 GB</strong>
                </p>

                <p>
                    <span>Traffic</span>
                    <strong>10 TB</strong>
                </p>

                <p>
                    <span>Users</span>
                    <strong style="font-size: 26px; top: 4px;">∞</strong>
                </p>

                <div class="donate-order">
                    <a href="#" class="order-a-donate">Contact us</a>
                </div>

            </div>

        </div>

    </div>