
<div class="row">
<div id="log-in-form">
        <div class="heading">
            <h1>Help Desk</h1>
            <p>How can we help you ?</p>
        </div>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter your Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" id="subject" placeholder="what is your concern ?"></textarea>
            </div>
            <div class="form-group form-group-btn">
                <button type="submit" class="btn btn-success btn-lg">Send</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    </div><br><br>