<div class="container">
<ul class="product-list-small">

        <li>

            <a href="#" class="product-photo">
                <img src="/modules/core/client/img/about-us-images/partners-img/partner4.jpg" height="105" alt="HTC One (M8)" />
            </a>

            <h2><a href="#">John Smith</a></h2>

            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacinia.</p>


        </li>

        <li>

            <a href="#" class="product-photo">
                <img src="/modules/core/client/img/about-us-images/partners-img/partner2.jpeg" height="105" alt="iPhone 6" />
            </a>

            <h2><a href="#">Sam Dawson</a></h2>

            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacinia.</p>


        </li>

        <li>

            <a href="#" class="product-photo">
                <img src="/modules/core/client/img/about-us-images/partners-img/partner3.jpg" height="105" alt="ZTE Nubia" />
            </a>

            <h2><a href="#">Johnny White</a></h2>

            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacinia.</p>

        </li>

    </ul>
    </div>