<!-- Team
  ================================================== -->

<div id="team" class="team">
    <h2 class="team-section-header light text-center">THE TEAM</h2><hr>

    <div class="team-container row">


        <div class="col-sm-4 team-member">
            <img src="/modules/core/client/img/about-us-images/team-img/cto.png">
            <div class="team-member-text">
                <h4 class="team-member-position light">CTO</h4>
                <h5 class="bold">Johnny B Good</h5>
                <p class="light">The brains behind the whole operation</p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="/modules/core/client/img/about-us-images/team-img/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="/modules/core/client/img/about-us-images/team-img/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="/modules/core/client/img/about-us-images/team-img/team-google.svg"></a>
            </div>
        </div>

        <div class="col-sm-4 team-member">
            <img src="/modules/core/client/img/about-us-images/team-img/ceo.png">
            <div class="team-member-text">
                <h4 class="team-member-position light">CEO</h4>
                <h5 class="bold">Roll Over Beethoven</h5>
                <p class="light">The one that puts it all together </p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="/modules/core/client/img/about-us-images/team-img/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="/modules/core/client/img/about-us-images/team-img/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="/modules/core/client/img/about-us-images/team-img/team-google.svg"></a>
            </div>
        </div>

        <div class="col-sm-4 team-member">
            <img src="/modules/core/client/img/about-us-images/team-img/cfo.png">
            <div class="team-member-text">
                <h4 class="team-member-position light">CFO</h4>
                <h5 class="bold">Chuck Berry</h5>
                <p class="light">The guy with his hand on the wallet</p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="/modules/core/client/img/about-us-images/team-img/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="/modules/core/client/img/about-us-images/team-img/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="/modules/core/client/img/about-us-images/team-img/team-google.svg"></a>
            </div>

        </div>
        <!-- .row -->

    </div> <!-- team-container -->

</div> <!-- team-section -->