<section>
  <div class="page-header">
    <h1>Courses</h1>
  </div>
  <div class="list-group">

    <a ng-repeat="course in vm.courses"
       ui-sref="admin.courses.view({ courseId: course._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="course.created | date:'mediumDate'"></span>
        by
        <span ng-if="course.owner" ng-bind="course.owner.displayName"></span>
        <span ng-if="!course.owner">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="course.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.courses.$resolved && !vm.courses.length">
    No Courses yet, why don't you <a ui-sref="admin.courses.create">create one</a>?
  </div>
</section>
