<div class="container-fluid text-center">    
  <div class="row content">
     <div class="pull-right">
      <button class="btn btn-lg btn-success" ng-click="vm.joinClass()">Join Class</button>
    </div>
    <br>
    <hr>
    <div class="col-sm-2 sidenav">
     <!--  <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->

      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="courses.view.about">About</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="courses.view.content">Content</a>
        </li>
        <li ui-sref-active="active" >
          <a ui-sref="courses.view.calender">Calender</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="courses.view.assignments">Assignments</a>
        </li>
         <li ui-sref-active="active">
          <a ui-sref="courses.view.discussion">Discussion</a>
        </li>
         <li ui-sref-active="active">
          <a ui-sref="courses.view.grades">Grades</a>
        </li>
         <li ui-sref-active="active">
          <a ui-sref="courses.view.tutor">Tutor</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-10 settings-view"> 
      <div ui-view></div>
    </div>
  </div>
</div>