<section>
  <br>
  <div id="bannerimage">
  <div>
  <h1 align="center" class="text-danger"><b>Teach or Learn</b></h1>
  </div>
</div>
<br>
<hr>
<div class="panel panel-info">
  <div class="panel-heading" align="center">
    <h3 class="panel-title"><strong>Welcome Aboard ....</strong></h3>
  </div>
  <div class="panel-body">
    <h3 align="center"><b>What would you like to learn today ? </b> </h3>
  </div>
</div>
</section>
