<section>
  <div class="page-header">
    <h1>{{vm.course._id ? 'Edit Course' : 'New Course'}}</h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <form name="vm.form.courseForm" class="form-horizontal" ng-submit="vm.save(vm.form.courseForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.course.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.courseForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Course name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.course.description" id="description" class="form-control" placeholder="description" required>
        </div>
         <div class="form-group">
        <label class="control-label" for="Category">Select Category:</label> 
        <select ng-options="item as item.name for item in vm.category track by item.name" class="form-control" ng-model="vm.selected_category"></select>
        </div>
             <div class="form-group">
        <label class="control-label" for="Category">Select Sub-Category:</label> 
        <select  class="form-control" ng-model="vm.selected_sub_category">
          <option ng-repeat="subCategory in vm.selected_category.sub_category" value="{{subCategory.name}}">{{subCategory.name}}</option>
        </select>
        </div>
           <div class="form-group">
          <label class="control-label" for="Education_level">Select Education Level:</label> 
          <select ng-options="x.education_level for x in vm.educationLevel" class="form-control" ng-model="vm.selected_education_level"></select>
        </div>
        <div class="form-group">
          <label class="control-label" for="difficulty_level">Select Difficulty Level:</label> 
          <select ng-options="x.difficulty_level for x in vm.difficultyLevel" class="form-control" ng-model="vm.selected_difficulty_level"></select>
        </div>
          <div class="form-group">
          <label class="control-label" for="language">Select Language:</label> 
          <select ng-options="x.language for x in vm.lang" class="form-control" ng-model="vm.selected_language"></select>
        </div>
        <div class="form-group">
          <label class="control-label" for="accreditation">Accreditation</label>
          <input name="accreditation" type="text" ng-model="vm.course.accreditation" id="accreditation" class="form-control" placeholder="Accreditation">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.course._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
