<section>
<!--   <div class="page-header">
    <h1>Courses</h1>
  </div>
  <div class="row">
  <div class="col-xs-4 col-lg-4">
    <ul class="course-list-small" ng-repeat="course in vm.courses">

        <li >

            <a ui-sref="admin.courses.view({ courseId: course._id })" class="course-photo">
                <img src="/modules/core/client/img/about-us-images/notebook-chill.jpg" height="105" width="105" />
            </a>

            <h2 ng-bind="course.name"><a href="#">HTC One</a></h2>

            <div class="course-rating" style="width:63px">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </div>

            <p class="course-description" ng-bind="course.description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacinia.</p>

            <p class="course-price">$499.00</p>


        </li>
        </ul>
  </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.courses.$resolved && !vm.courses.length">
    No Courses yet, why don't you <a ui-sref="courses.create">create one</a>?
  </div> -->

  <div class="container-fluid">
      <div class="input-group">
        <input type="text" ng-model="vm.search" class="form-control" placeholder="Search Courses..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Search by Categories</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a ng-click="vm.allCourse()">All Courses</a></li>
        <li ng-click="vm.searchCategory('category.main_category', 'IT')"><a>IT</a></li>
        <li ><a ng-click="vm.searchCategory('category.main_category', 'Business')">Business</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Language')">Language</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Science')">Science</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Health')">Health</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Humanities')">Humanities</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Math')">Math</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Marketing')">Marketing</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Lifestyle')">Lifestyle</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Software Development')">Software Development</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Software Engineering')">Software Engineering</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Life Science')">Life Science</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Health Care')">Health Care</a></li>
        <li><a ng-click="vm.searchCategory('category.main_category', 'Operations')">Operations</a></li>
      </ul><br>

      <h4>Search by Language</h4>
      <ul class="nav nav-pills nav-stacked">
        <li ng-click="vm.searchCategory('language', 'English')"><a>English</a></li>
        <li ><a ng-click="vm.searchCategory('language', 'Spanish')">Spanish</a></li>
        <li><a ng-click="vm.searchCategory('language', 'French')">French</a></li>
        <li><a ng-click="vm.searchCategory('language', 'Italian')">Italian</a></li>
        <li><a ng-click="vm.searchCategory('language', 'Hindi')">Hindi</a></li>
        
      </ul><br>
      <h4>Search by Difficulty Level</h4>
      <ul class="nav nav-pills nav-stacked">
        <li ><a ng-click="vm.searchCategory('difficulty_level', 'ADVANCED')">Advanced</a></li>
        <li><a ng-click="vm.searchCategory('difficulty_level', 'INTERMEDIATE')">Intermediate</a></li>
        <li><a ng-click="vm.searchCategory('difficulty_level', 'BEGINNER')">Beginner</a></li>
        
      </ul><br>
      
    </div>

  <div class="container">
    <div class="well well-md">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products"  class="row list-group">
        <div ng-repeat="course in vm.courses | filter:vm.search" class="item  col-xs-4 col-md-3">
        <a ui-sref="courses.view.about({ courseId: course._id })">
            <div class="thumbnail">
                <img class="group list-group-image" ng-src="/modules/core/client/img/about-us-images/notebook-chill.jpg" alt="default-img-class" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">{{course.name}}</h4>
                    <p class="group inner list-group-item-text">{{course.description}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">{{course.category.main_category}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success">View Course</a>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>      
     
    </div>
</div>

</section>
