<section>
  <div class="page-header">
    <h1 ng-bind="vm.course.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.course.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="courses.edit({ courseId: vm.course._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  {{vm.course}}
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.course.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.course.owner"
            ng-bind="vm.course.owner.displayName"></span>
      <span ng-if="!vm.course.owner">Deleted User</span>
    </em>
  </small>
</section>
