<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
      <label for="education" class="lead text-info"><strong>Personal Info:</strong></label>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" id="age" name="age" class="form-control" ng-model="vm.user.age" placeholder="Enter your age ..">
        </div>
        <div class="form-group">
          <label for="date_of_birth">Date of Birth</label>
          <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" ng-model="vm.user.date_of_birth" placeholder="Enter your date of birth..">
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <div>
          <input type="radio" ng-model="vm.user.gender" name="gender" value="male"> Male<br>
          <input type="radio" ng-model="vm.user.gender" name="gender" value="female"> Female<br>
          <input type="radio" ng-model="vm.user.gender" name="gender" value="other"> Other
          </div>
        </div>
        <div class="form-group">
          <label for="language">Language</label>
          <input type="text" id="language" name="language" class="form-control" ng-model="vm.user.language" placeholder="languages..">
        </div>
        <div class="form-group">
          <label for="bio">Profile Bio</label>
          <textarea id="bio" name="bio" class="form-control" ng-model="vm.user.bio" cols="5" rows="2" placeholder="tell us somthing about yourself..."></textarea>
        </div>
        <label for="education" class="lead text-info"><strong>Education:</strong></label>
        <div class="form-group">
          <label for="institute">Institute</label>
          <input type="text" id="institute" name="institute" class="form-control" ng-model="vm.user.education.institution" placeholder="Enter Institute detail ..">
        </div>
        <div class="form-group">
          <label for="education_level">Level of Education</label>
          <input type="text" id="education_level" name="education_level" class="form-control" ng-model="vm.user.education.education_level" placeholder="Enter Level of Education..">
        </div>
        <div class="form-group">
          <label for="subjects">Subjects</label>
          <input type="text" id="subjects" name="subjects" class="form-control" ng-model="vm.user.education.subjects[0]" placeholder="Enter your subjects..">
        </div>
        <div class="form-group">
          <label for="employment_status">Employment Status</label>
          <div>
          <input type="radio" ng-model="vm.user.employment_status" name="employment_status" value="male"> working<br>
          <input type="radio" ng-model="vm.user.employment_status" name="employment_status" value="female"> Unemployed<br>
          </div>
        </div>
        <label for="address" class="lead text-info"><strong>Address</strong></label>
        <div class="form-group">
          <label for="address_line">Address</label>
          <input type="text" id="subjects" name="address_line" class="form-control" ng-model="vm.user.address.address_line" placeholder="Enter your address..">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="subjects" name="city" class="form-control" ng-model="vm.user.address.city" placeholder="Enter your city..">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" id="country" name="subjects" class="form-control" ng-model="vm.user.address.country" placeholder="Enter your country..">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Save Profile</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
