<section>
<div class="container">
<div class="row text-center">
    <h3 class="col-md-12">Email Verified Successfully</h3>
  <a ui-sref="authentication.signin" class="col-md-12">Please log in to continue</a>
</div>


</div>
</section>