<section class="jumbotron">
<div class="row text-center">
  <h1 class="col-md-12 lead">Your Email is not Verified</h1>
  <p class="col-md-12">Please verify your email to complete your registration.</p>
  </div>
</section>