<section class="row text-center">
  <h3 class="col-md-12">Thank You for registering with us !!</h3>
  <a ui-sref="home" class="col-md-12">An Email verification link has been sent to provided email. Please verify !!</a>
</section>