<div class="modal-body" ng-controller="AuthenticationController as vm">
    <div class="well well-sm">
    <blockquote>
    <p class="text-danger">Innovate Learning And Learn to Innovate</p>
    </blockquote>
    </div>
    <div>
    <p class="lead text-info" align="center"><b>choose your preference: </b></p>
    <button class="btn btn-success btn-md" ng-click="vm.assignRole('educator')">Begin as an Educator</button><br><br>
    <button class="btn btn-success btn-md" ng-click="vm.assignRole('learner')">Begin as a Learner</button><br><br>
    <button class="btn btn-success btn-md" ng-click="vm.assignRole('tutor')">Begin as a Tutor/Teaching Assistant</button><br><br>
    <button class="btn btn-success btn-md" ng-click="vm.assignRole('parent')">Begin as Parent</button><br>
    </div>
    </div>