/*===============About-Main Page section============*/
.about-view{min-height: 400px;padding-top: 50px;}
.page-column{padding-top: 45px;}
.setting-nav{border-bottom: 1px solid #dcdcdc;}
.setting-nav .nav > li.active a{color: #fff;background-color: #607D8B;}
.setting-nav .nav > li a{color: black;font-size: 16px;font-weight: 300;border-radius: 0px;padding-left: 20px;}
.setting-nav .nav > li a.heading{color: #4A87B6;}
.setting-nav .nav > li a .icon {position: absolute;left: 5px;}
.column-head{padding: 10px;margin-bottom: 30px;font-weight: 300;background: #f6f6f6;}
.page-label-head{margin-top: 0px;margin-bottom: 30px;font-weight: 300;}

/* contact us form */

#log-in-form{
    margin: auto;
    padding: 10px;
    color: white;
    height: auto;
    background-image: url("/modules/core/client/img/about-us-images/notebook-chill.jpg");
    background-size: cover;
}

#log-in-form .heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

#log-in-form .form-group{
    float: left;
    width: 28%;
    margin-left: 40px;
}

#log-in-form .form-control{
    padding: 15px 25px;
    height: auto;
}

#log-in-form .form-group-btn{
    width: 15%;
    margin-left: 70px;
}

#log-in-form .btn{
    padding: 13px 32px;
}

#log-in-form .checkbox{
    float: left;
    margin: 15px 0 50px 40px;
}


@media screen and (max-width: 800px){
    #log-in-form{
        margin: 20px;
    }

    #log-in-form .form-group{
        width: 60%;
        float: none;
        margin: 10px auto;
    }

    #log-in-form .form-group-btn{
        margin-top: 30px;
    }

    #log-in-form .btn{
        width: 100%;
    }

    #log-in-form .checkbox{
        width: 60%;
        float: none;
        margin: 15px auto 50px auto;
    }
}

@media screen and (max-width: 600px){
    #log-in-form .form-group,
    #log-in-form .checkbox{
        width: 90%;
    }
}
