
#contact-form{
    max-width: 800px;
    margin: 120px auto;
}

#contact-form .image{
    float:left;
    background-image: url("/modules/core/client/img/about-us-images/contact-us-img/desk.jpg");
    height: 500px;
    width: 50%;
    background-size: cover;
    background-position: 25%;
}

#contact-form .frm{
    float:right;
    height: 500px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: white;
}

#contact-form h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

#contact-form .form-control{
    width: 90%;
    padding: 12px 20px;
    height: auto;
}

@media screen and (max-width: 700px){
    #contact-form .image{
        width: 30%;
        background-position: 60%;
    }

    #contact-form .frm{
        width: 70%;
    }

    #contact-form .form-control{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    #contact-form .image{
        display: none;
    }

    #contact-form .frm{
        width: 100%;
    }

    #contact-form h1{
        text-align: center;
    }

    #contact-form .btn{
        width: 100%;
        margin-top: 20px;
    }
}